# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
sample_data/

# VS Code (optional)
.vscode/

# Neovim swap/backup
*.swp
*.swo
*.swn
*~

# OS files
.DS_Store
Thumbs.db



# dotenv
.env

